@{
    ViewData["Title"] = "Home Page";
}

<header id="HeaderSection md-5">



    <div class="overley">

        <div class="embed-responsive embed-responsive-16by9  ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/afl9PHXMLUs?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>


    </div>

    <section id="dıvvecard" class="mt-3">


        <div class="container">

            <div class="row ">


                <div class="col-lg-4">

                   

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/image/Apple/98258211_214009284.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Apple iPhone XS 64 GB 5.8 İnç Çift Hatlı 12 MP Akıllı Cep Telefonu Uzay Grisi</h5>
                            
                            <a class="btn btn-primary">7999.00</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">


                   
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/image/Apple/309416795_213526788.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Apple iPhone 12 5G 64GB 4GB Ram 6.1 inç 12MP Akıllı Cep Telefonu Mavi</h5>
                         
                            <a  class="btn btn-primary">9949.00</a>
                        </div>
                    </div>
                </div>




               


                <div class="col-lg-4">

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/image/Oppo/1_org_zoom (1)215202121.jpg" height="260" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Oppo Reno 4 Lite 128GB Siyah Cep Telefonu (Oppo Türkiye Garantili) OPPO-RENO4-LITE</h5>
                          
                            <a class="btn btn-primary">3225.00</a>
                        </div>
                    </div>
                </div>

               

                <div class="col-lg-4">

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/image/Oppo/1_org_zoom215037188.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Oppo A73 128GB Lacivert Cep Telefonu (Oppo Türkiye Garantili) CPH2095</h5>
                           
                            <a  class="btn btn-primary">2415.00</a>
                        </div>
                    </div>
                </div>





                <div class="col-lg-4">
                

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/image/Samsung/1_org_zoom215948529.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Samsung Galaxy A01 Core 16GB Mavi (Samsung Türkiye Garantili) A01CORE16GB</h5>
                            
                            <a class="btn btn-primary">1281.00</a>
                        </div>
                    </div>

                </div>




                <div class="col-lg-4">


               

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/image/Samsung/1_org_zoom (1)210021864.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Samsung Galaxy M31s (Çift SIM) 128GB Siyah Cep Telefonu (Samsung Türkiye Garantili) SM-M317FZKNTUR</h5>
                         
                            <a  class="btn btn-primary">3008.00</a>
                        </div>
                    </div>
                </div>
                







                <div class="col-lg-4">



                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/image/Xiaomi/1_org_zoom211313372.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Xiaomi Redmi Note 10 128gb Cep Telefonu (Xiaomi Türkiye Garantili) NOTE 10 128</h5>
                           
                            <a  class="btn btn-primary">3005.00</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">


                   


                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/image/Xiaomi/1_org_zoom (1)211354403.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Xiaomi Redmi 9C 64GB Midnight Gray Cep Telefonu (Xiaomi Türkiye Garantili)</h5>
                            
                            <a  class="btn btn-primary">1861.00</a>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4">


                

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/image/Xiaomi/1_org_zoom (2)211430423.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Xiaomi Redmi Note 9 128GB Gri Cep Telefonu (İthalatçı Firma Garantili) REDMINOTE9SS</h5>
                            
                            <a class="btn btn-primary">20425.00</a>
                        </div>
                    </div>
                </div>

            </div>









        </div>






    </section>



</header>