@model IEnumerable<WebApplication16.Models.Apple>

@{
    ViewData["Title"] = "Apple1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<<div class="container">

    <div class="row ">
        @foreach (var item in Model)
        {



            <div class="col-lg-4">

                <div class="card" style="width: 18rem;margin-top:60px">
                    <img src="~/image/Apple/@item.imageName" asp-append-version="true"  />
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.AppleAciklama)</h5>

                        <a href="#" class="btn btn-primary"> @item.Fiyat</a>
                    </div>
                </div>
            </div>






        }
    </div>

</div>
