@model WebApplication16.Models.Personel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Personel</h4>
<hr />
<div class="row">
    <div class="col-md-4" en>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="imageFile" class="control-label"></label>
                <input asp-for="imageFile" accept="image/Personel/*" />
                <span asp-validation-for="imageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonelAd" class="control-label"></label>
                <input asp-for="PersonelAd" class="form-control" />
                <span asp-validation-for="PersonelAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonelSoyad" class="control-label"></label>
                <input asp-for="PersonelSoyad" class="form-control" />
                <span asp-validation-for="PersonelSoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonelEmail" class="control-label"></label>
                <input asp-for="PersonelEmail" class="form-control" />
                <span asp-validation-for="PersonelEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonelAdres" class="control-label"></label>
                <input asp-for="PersonelAdres" class="form-control" />
                <span asp-validation-for="PersonelAdres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
